<% content_for(:title) do %>
  <%= t ".title" %>
<% end %>

<div class="posts">
  <div class="container">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

      <h1 class="text-center popular-stories"><%= t ".all_posts" %></h1>
      <% @posts.each do |post| %>
        <% path = (locale == :fr) ? "/blog/#{post.slug}" : "/blog/en/#{post.slug}" %>
          <article class="postcard">

            <div class="postcard-author">
              <% if post.metadata[:author_picture] %>
                <%= image_tag "authors/#{post.metadata[:author_picture]}" %>
              <% else %>
                <%= image_tag "authors/lewagon.png" %>
              <% end %>
              <%= render 'written_by', post: post, date_format: :long %>
            </div>

            <% if post.metadata[:thumbnail] %>
              <a href="<%= path %>" class="link-img" style="background-image: url('<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>')">
                <div class="postcard-filter"></div>
              </a>
            <% end %>

            <div class="content">
              <h2>
                <%= post.metadata[:title].html_safe %>
              </h2>
              <% if post.metadata[:description] %>
                <p class="description"><%= post.metadata[:description].truncate(160) %></p>
              <% end %>
            </div>
            <a href="<%= path %>" class="link-post">Read more...</a>
          </article>
      <% end %>
    </div>
  </div>
</div>
